
name: Move labeled issues
on:

  workflow_dispatch:
    inputs:
     token:
        description: 'Token to use'
        required: true
        default: '0.0.1a'

jobs:
  move_to_master:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ github.event.inputs.personalToken }}
    steps:
      - uses: actions/checkout@v2
      - name: Move PR
        uses: TheRealWaldo/pull-request@v0.1.2
        with:
          base: "master"


